


/target/
**/*.rs.bk
Cargo.lock 




*.efi
bzImage
initramfs.cpio.gz




*.tar.xz
*.tar.gz
*.deb




/linux-*/
/micropython/

/initramfs/
/efi_stub_extracted/
cmdline.txt

build_uki.py

/efi_drive/
*.img
*.iso
*.fd

.DS_Store
.vscode/
.idea/
*.swp